@model ArticleViewModel
@{
  Layout = "_Layout";
}

@section ExternalCss {
  <link href="@Url.Content("~/css/ArticleDisplay.css")" rel="stylesheet"/>
  <!-- Vditor -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor/dist/index.css" />
}

<div style="background-color: white; padding: 10px;">
  <div>
    <div style="text-align: center;">
      <div class="col">
        <h2>
          Title
        </h2>
      </div>
    </div>
    <div class="article-info">
      <div class="create-time article-info-item">
        <i class="bi bi-calendar3" style="margin-right: 5px;"></i>
        <span>创建时间:</span>
        <span>@Model.article.CreateTime</span>
      </div>
      <div class="last-modified-time article-info-item">
        <i class="bi bi-calendar3" style="margin-right: 5px;"></i>
        <span>修改时间:</span>
        <span>@Model.article.LastModifiedTime</span>
      </div>
      <div class="tags article-info-item">
        <span>标签:</span>
        @foreach (var tag in Model.article.Tags)
        {
          <span>@tag.Content</span>
        }
      </div>
    </div>
  </div>
  <div class="container" Style="padding-right: 20px">
    <input type="hidden" id="article-content" value="@Model.article.Content">
    <div id="preview"></div>
  </div>
</div>

@section Scripts {
  <!-- Vditor -->
  <script src="https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js"></script>
  <script src="@Url.Content("~/js/vditorPreview.js")"></script>
  <script>
    PreviewMarkdown($('#article-content').val(), document.getElementById("preview"))
  </script>
}
